:root {
    font-size: 20px;
    --main-font: 'Ubuntu', sans-serif;
    --code-font: 'Ubuntu Mono', monospace;
    --background-color: #181718;
    --background-color-lighter: #252325;
    --font-color: #eeeeee;
    --heading-color: #ff9f50;
    --link-color: #ff9f50;
    --shadow-color: #00000040;
    --code-background: #111111;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    margin: 0;

    background: var(--background-color);

    font-family: var(--main-font);
    color: var(--font-color);
    font-weight: 200;
    letter-spacing: 0.02em;
}

div.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    margin-bottom: 60px;
}

div.content-two-panels {
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;

    max-width: 1000px;
}

div.content-container>main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1000px;
}

nav {
    align-self: flex-start;
    position: sticky;
    top: 0px;

    min-width: 30%;
}

header {
    padding: 20px;
    background: var(--background-color-lighter);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;

    background: var(--background-color-lighter);
}

footer, header {
    box-shadow: 0px 0px 25px 0px var(--shadow-color);
}

p {
    text-align: justify;
    line-height: 1.35em;
}

h1 {
    text-align: center;
}

h1, h2, h3 {
    font-weight: 600;
    color: var(--heading-color);
}

h2, h3 {
    margin: 40px 0 40px 0;
}

span.code, span.code * {
    display: inline-block;
    font-family: var(--code-font);
    background: var(--code-background);
}

span.bigcode {
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

li {
    padding-bottom: 10px;
}

p.link {
    text-align: center;
}

a, a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover, a:hover * {
    text-decoration: underline;
}

a.back {
    position: fixed;
    top: 10px;
    left: 10px;
}

a.checked {
    text-decoration: underline;
    color: var(--font-color);
}

.part-description {
    display: none;
}

.part-description.shown {
    display: block;
}